body {
    margin: 0;
    padding: 0;
    background-color: #111; /* Fondo gris muy oscuro para la web */
    color: white; /* Color del texto base */
    font-family: 'Courier New', Courier, monospace; /* Tipografía retro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupar toda la altura de la ventana */
    overflow: hidden; /* Evitar barras de scroll */
}

.game-container {
    text-align: center; /* Centra el título y el canvas */
}

.game-header {
    font-size: 40px;
    letter-spacing: 15px; /* Espaciado amplio entre letras para estilo Arcade */
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Brillo del texto */
}

canvas {
    background-color: #000; /* Fondo negro absoluto para el espacio */
    border: 2px solid #fff; /* Un borde blanco retro */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Un ligero brillo exterior */
    display: block;
    margin: 0 auto; /* Asegura el centrado dentro del contenedor */
}