:root {
    --main_color: #002244;
    --background: #222222;
    --backdrop: #DDDDDD;
    --blood: #660000;
}

body {
    margin: 0rem;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Courier New';    
    color: var(--backdrop);
    background-color: var(--background);
}

.menu {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--main_color);
}

.menu_container {
    text-align: center;
    color: var(--backdrop);
}

.menu_title {
    font-size: 4rem;
    margin-bottom: 0rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    animation: blink 2s infinite alternate;
}

.menu_button {
    margin: 2rem 0rem;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    letter-spacing: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Courier New';
    color: var(--background);
    background-color: var(--backdrop);
}

.menu_button:hover {
    color: var(--backdrop);
    background-color: var(--background);
    box-shadow: 0 0 2rem var(--backdrop);
}

.header {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title {
    margin: 0rem;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    animation: blink 2s infinite alternate;
}

.header_score {
    margin: 0rem;
    text-transform: uppercase;
}

.world {
    border-radius: 0.5rem;
    background-color: var(--main_color);
    border: 0.2rem solid var(--backdrop);
    transition: background-color 2s ease;
}

.meteorite {
    fill: var(--background);
    stroke: var(--backdrop);
    stroke-width: 0.1rem;
}

.spaceship {
    fill: var(--background);
    stroke: var(--backdrop);
    stroke-width: 0.1rem;
}

.bullet_hidden {
    fill: var(--backdrop);
    display: none;
}

.meteorite_hidden {
    display: none;
}

@keyframes blink {
    0%, 10%, 20%, 35%, 60%, 100% {
        text-shadow: 
            0 0 0.1rem var(--main_color),
            0 0 1rem var(--backdrop),
            0 0 1.5rem var(--backdrop);
    }
    15%, 25%, 45% {       
        text-shadow: none;
    }
}